<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon"
        android:label="Thi bằng lái xe 2023"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Btl_thibanglaixe"
        tools:targetApi="31">
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.ThiSatHachActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:label="Thi sát hạch"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".Activities.KetQuaActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:label="Kết quả thi"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".Activities.XemLaiDapAnActivity"
            android:parentActivityName=".Activities.KetQuaActivity"
            android:label="Xem lại đáp án"
            android:screenOrientation="portrait"
            >
        </activity>
    </application>

</manifest>